<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Bubble | Login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div>
      <form action="/public/login" method="post">
        <input type="text" name="userId" id="userId" placeholder="아이디" />
        <input
          type="password"
          name="userPassword"
          id="userPassword"
          placeholder="비밀번호"
        />
        <button type="submit">로그인</button>
        <button type="reset">취소</button>
      </form>
      <button onclick="location.href='/public/registerPage'">회원가입 하기</button>
    </div>
  </body>
</html>
