<!DOCTYPE html>
<html>

<head>
  <title>Bubble | Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/web/images/icons/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/web/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/web/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/web/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
  <link rel="stylesheet" type="text/css" href="/web/vendor/animate/animate.css">
  <link rel="stylesheet" type="text/css" href="/web/vendor/css-hamburgers/hamburgers.min.css">
  <link rel="stylesheet" type="text/css" href="/web/vendor/animsition/css/animsition.min.css">
  <link rel="stylesheet" type="text/css" href="/web/vendor/select2/select2.min.css">
  <link rel="stylesheet" type="text/css" href="/web/vendor/daterangepicker/daterangepicker.css">
  <link rel="stylesheet" type="text/css" href="/web/css/util.css">
  <link rel="stylesheet" type="text/css" href="/web/css/main.css">
  <link rel="stylesheet" type="text/css" href="/web/css/custom.css">
</head>

<body>
  <div class="limiter">
    <div class="container-content">
      <div class="wrap-login100 p-b-160 p-t-50 ">
        <span class="login100-form-title2 p-b-43">
          Bubble 💭
        </span>
        <div class="m-b-20">
          <p style=" text-align: right;"><a href="/public/logout">로그아웃</a></p>
          <p>채팅방</p>
        </div>
        <div class="list-group copyable">
          <% for(var i = 0; i < data.length; i++){ %>
          <span>
            <a href="/chatting/<%= data[i]._id %>" class="list-group-item list-group-item-action ">
              <img src="<%= data[i].user_img %>" /><strong><%= data[i].user_nm %></strong>
              <span> 📢 안녕하세요 여러분</span>
            </a>
          </span>
          <% } %>
        </div>
      </div>
      
    </div>
  </div>
  <script src="/web/vendor/jquery/jquery-3.2.1.min.js"></script>
  <script src="/web/vendor/animsition/js/animsition.min.js"></script>
  <script src="/web/vendor/bootstrap/js/popper.js"></script>
  <script src="/web/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/web/vendor/select2/select2.min.js"></script>
  <script src="/web/vendor/daterangepicker/moment.min.js"></script>
  <script src="/web/vendor/daterangepicker/daterangepicker.js"></script>
  <script src="/web/vendor/countdowntime/countdowntime.js"></script>
  <script src="/web/js/main.js"></script>
  <script>
    $(".list-group-item").on("mouseover", function () {
      $(this).addClass("active")
    });

    $(".list-group-item").on("mouseout", function () {
      $(this).removeClass("active");
    });
  </script>
</body>

</html>